Django
django-allauth
django-cors-headers
django-countries
django-rest-auth
djangorestframework
pandas
matplotlib
plotly
WordCloud
oauthlib
pep8
autopep8
Pillow

astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
gunicorn==19.9.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1

pycodestyle==2.5.0
pylint==2.3.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
stripe==2.33.0
typed-ast
urllib3==1.25.3
wrapt==1.11.2

# python manage.py runserver
